#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.container {
  margin: 25px;
  display:flex;
  flex-direction: column;
  width: 800px;
  gap: 20px;
}

.header-container {
  width: 100%;
  display: flex;
  gap: 20px;
}

.dirselect-container {
  width: 25%;
  display: flex;
}

.query-container {
  display: flex;
  justify-content: end;
  width: 75%;
}


.results-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-result {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.search-text {
  text-align: left;
}

.query-input {
  width: 400px;
}


.progress-container {
  position: relative;
  font-size: 14px;
  color: white;
  background-color: #e9ecef;
  border: solid 1px;
  border-radius: 8px;
  text-align: left;
  overflow: hidden;
}

.progress-bar {
  padding: 0 4px;
  z-index: 0;
  top: 0;
  width: 1%;
  height: 100%;
  overflow: hidden;
  background-color: #007bff;
  white-space: nowrap;
}

.progress-text {
  z-index: 2;
}

.selector-container {
  display: flex;
  gap: 20px;
}

.progress-bars-container {
  padding: 8px;
}

